node_modules/
.DS_Store
.idea
.project
.svn
npm-debug.log

# bem
.enb/tmp/
bundles/*bundles*/*/*.*
bundles/!*bundles*/*/*.bemdecl.js
bundles/*bundles*/*/*.tmpl.bemdecl.js
bundles/!*bundles*/.bem/*

static/css
static/js
